<mat-card class="login-page">
  <mat-card class="login-card">
    <div class="login-header">
      <span class="login-label"> ACESSO </span>

      <h1>Seja bem-vindo</h1>

      <p>Digite seu e-mail e senha para acessar sua conta.</p>
    </div>

    <mat-card-content class="login-content">
      <form [formGroup]="form" (ngSubmit)="login()">
        <!-- E-mail -->
        <mat-form-field appearance="outline">
          <mat-label> E-mail </mat-label>

          <input
            matInput
            id="email"
            type="email"
            formControlName="email"
            placeholder="seuemail@exemplo.com"
          />

          <mat-icon matSuffix> email </mat-icon>

          @if (form.get('email')?.hasError('required') && form.get('email')?.touched) {
            <mat-error> E-mail é obrigatório </mat-error>
          }

          @if (form.get('email')?.hasError('email') && form.get('email')?.touched) {
            <mat-error> Digite um e-mail válido </mat-error>
          }
        </mat-form-field>

        <!-- Senha -->
        <mat-form-field appearance="outline">
          <mat-label> Senha </mat-label>

          <input
            matInput
            id="password"
            type="password"
            formControlName="password"
            placeholder="Digite sua senha"
            minlength="8"
          />

          <mat-icon matSuffix> lock </mat-icon>

          @if (
            form.get('password')?.hasError('minlength') ||
            form.get('password')?.hasError('maxlength')
          ) {
            <mat-error> Senha é obrigatória </mat-error>
          }
        </mat-form-field>

        <!-- Esqueci minha senha -->
        <div class="forgot-password">
          <a href="esqueci-senha"> Esqueci minha senha </a>
        </div>

        <!-- Botão -->
        <div class="action-btn">
          <button matButton="filled" type="submit" class="login-button">Entrar</button>
        </div>
      </form>
    </mat-card-content>

    <!-- Rodapé -->
    <div class="login-footer">
      <span> Ainda não possui uma conta? </span>

      <a routerLink="/cadastro"> Criar conta </a>
    </div>
  </mat-card>
</mat-card>
```
