/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}


@media (min-width: 769px) {
  html, body {
    height: 100vh;
    overflow: hidden; /* Trava totalmente a tela no desktop */
  }
}

@media (max-width: 768px) {
  html, body {
    /* Trocar 'hidden' por 'initial' remove qualquer bloqueio anterior */
    overflow-x: hidden;  /* Evita que a tela balance para os lados */
    overflow-y: initial; /* Restaura o comportamento padrão de scroll para baixo */

    /* Permite que o corpo cresça de acordo com o tamanho do conteúdo */
    height: auto;
    min-height: 100vh;
  }
}
